$include-html-button-classes: $include-html-classes;

// Base colors
$base-color: #0b1902;       // black
$brand-color: #C5E3FF;      // light blue
$secondary-color: #668DB3;  // dark blue
$action-color: #85CCC2;     // green
$accent-color: #B38F55;     // gold

// Font size
$tiny-font-size: 12px;
$tiny-font-leading: 0.75;
$small-font-size: 14px;
$small-font-leading: 0.75;
$base-font-size: 18px;
$base-font-leading: 1;
$medium-font-size: 24px;
$medium-font-leading: 1.3em;
$large-font-size: 32px;
$large-font-leading: 1.3em;
$xlarge-font-size: 43px;
$xlarge-font-leading: 1.3em;
$xxlarge-font-size: 100px;
$xxlarge-font-leading: 1.3em;

// Typeface

$main-typeface: "Myanmar MN", Helvetica, sans-serif;
$secondary-typeface: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

h1 {
  font: $main-typeface;
  color: #fff;
  font-size: $xxlarge-font-size;
}

h2 {
  font: $main-typeface;
  color: $secondary-color;
  font-size: $large-font-size;
}

h3, h4, h5, p {
  color: $base-color;
}

h3 {
  font: $main-typeface;
  font-size: $medium-font-size
}

h4 {
  font: $secondary-typeface;
  font-size: $base-font-size
}

h5 {
  font: $secondary-typeface;
  font-size: $small-font-size
}

p {
  font: $secondary-typeface;
  font-size: $base-font-size;
  line-height: $medium-font-leading;
}

a {
  color: $action-color;
}

// Header

.top-bar-section .right {
    float: right !important;
  }

.top-bar {
  background: #c5e3ff;
}

.top-bar li h1 img {
    margin: -10px 0 0 20px;
    left: 20px;
  }

  .top-bar-section > li > .has-dropdown {
  background: #c5e3ff;
}
  .top-bar-section li:not(.has-form) a:not(.button) {
  background: #c5e3ff;
}


.hero {
  background-image: url('../assets/six-happy-kids.png');
  background-size: cover;
  background-position: center center;
  margin: 0;
  min-height: 600px;
  h1 {
      margin: 450px 0 0 50px;
      text-transform: uppercase;
      font-weight: bold;
    }
}

// Call to Action
.get-started {
  background: $secondary-color;
}
  .get-started > p{
    font-size: $medium-font-size;
    font-weight: bold;
    // padding: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    background: $secondary-color;
    color: #ffffff;
    }
  .button {
    font-size: $base-font-size;
    text-transform: uppercase;
  }


// Campaigns

.ending-soon-campaigns {
  margin-top: 20px;
}
.project-tile-wrap {
  border-radius: 9px;
  background: rgba(11,25,2,0.06);
  padding: 2px;
  margin-bottom: 20px;
}

  .project-card {
    overflow: hidden;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #d0d5cb;
    position: relative;
    background-color: #fff;
    }

    .panel {
      border-style: solid;
      border-width: 1px;
      border-color: #d8d8d8;
      margin-bottom: 0;
      padding: 1.25rem;
      background: #f2f2f2;
    }
    .progress-bar-wrap {
      border-radius: 4px;
      position: absolute;
      bottom: 10px;
      left: 20px;
      width: 180px;
      height: 25px;
      background: #85ccc2;
      padding: 0;
      margin-top: 5px;
    }
    .pledged-amount {
      font: $secondary-typeface;
      background: #358e81;
      border-radius: 4px;
      height: 25px;
    }
    .amount {
      padding-left: 10px;
      padding-top: 5px;
      color: #ffffff;
      display: inline-block;
      font: $secondary-typeface;
      font-size: $small-font-size;
    }

    // * Campaigns Page * //

  .title-heading {
    background-color: $accent-color;
    padding: 40px 0;
    width: 100%;
    height: 40%;
    margin-top: 40px;
    margin-bottom: -40px;
  }
    .title-heading h2 {
        color: #ffffff;
        font-size: $xxlarge-font-size;
        font-weight: 900;
        text-transform: uppercase;
      }

  // * About Page * //

  .main-content {
    margin-top: 80px;
  }

  .about-image p {
    margin-top: 20px;

  }
  .sub-heading h3 {
    text-transform: uppercase;
    font-weight: 700;
  }

  .charts h4 {
      text-transform: uppercase;
      font-weight: 500;
    }

  // * Campaign Donate * //

  .campaign-title-heading {
    padding: 20px;
    margin-bottom: 40px;
  }
  .title-heading p {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 0.5em;
    color: #ffffff;
  }

  .campaign-description {
    top: 20px;
  }


  .campaign-backing-stats, .pledged, .seeders, .days-left {
    font-size: $xlarge-font-size;
    line-height: 1em;
  }

  .the-campaign-details h3 {
    line-height: 1em;
    font-weight: 600;
  }
  .the-campaign-details span {
    font-size: $small-font-size;
  }

  // * Edit Profile * //

  .edit-profile {
    margin-bottom: 40px;
  }

  .change-password h4 {
    font-weight: 500;
  }

  .change-password p {
    font-weight: 200;
    font-size: $small-font-size;
  }

  #checkbox1 {
    margin-top: 20px;
  }

  .privacy-text {
    font-size: $small-font-size;
  }

  .profile-button-save button {
    font-sizes: $small-font-size;
  }

// * Start a Campaign * //

.start-campaign {
  margin-bottom: 40px;
}

.button-group .button {
  left: -28px;
}

.right {
  float: left !important;
}

.grey-field {
  background-color: #EEF2EA;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="text"] {
  // margin-top: 20px;
  margin-top: 10px;
}

form .row .row .column, form .row .row .columns {
padding: 0 0.1rem;
}

textarea {
  margin-top: 10px;
  height: 200px;
}

/* Overlay from Codrops */

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(153,204,51,0.9);
  .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../assets/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
  }
  nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
    li {
      display: block;
      height: 20%;
      height: calc(100% / 5);
      min-height: 54px;
      a {
        font-weight: 300;
        display: block;
        color: #fff;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        &:hover {
          color: #e3fcb1;
        }
        &:focus {
          color: #e3fcb1;
        }
      }
    }
  }
}

/* Overlay closing cross */


/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}

/* Overlay Sign-in Form */

.container {
  margin: 60px 60px 60px 60px;
}

.social-login, .email-login {
  text-align: center;
}
  .social-login > h3 {
    color: #ffffff;
    text-transform: uppercase;
  }
  .fi-social-facebook, .fi-social-google-plus {
    font-size: 60px;
    color: #333;
    padding: 10px;
  }

.user-input {
  margin-top: 10px;
  }

.email-login .row {
  margin-left: 325px;

}
.email-login .row .user-input-password {
  margin-top: -10px;
}

.sign-in-button .button {
  font-size: $small-font-size;
  right: 5px;
}
